.taskInfo {
  background-color: #DCE0E1;
  width: 50%;
  height: 100%;
  padding: 36px;
  flex-wrap: wrap;

  .taskTitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
  }

  .text {
    width: 100%;
    height: 100%;
    text-align: left;
  }
}