@import './normalize';

body {
  header {
    display: flex;    
    width: 100%;
    font-weight: 700;
    font-size: 28px;
    padding: 36px;
    border-bottom: solid 1px black;
  }

  .main {
    display: flex;
    height: calc(100vh - 96px);
  }
}